development:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  pool: 5
  database: vegemit_dev
  username: username
  password: password

test:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  pool: 5
  database: vegemit_test
  username: username
  password: password
